// Color variables
$color-grey-light: #f9f9f9;
$color-grey: #ddd;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$color-primary: #493867;
$color-secondary: #7C6B9A;

// Font variables
$main-font: 'Work Sans', Arial, sans-serif;

$default-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Margin variables
$default-margin: 1.4rem;

// Padding variables
$default-padding: 1rem;
$large-padding: 1.6rem;

// Sizes
$site-max-width: 108rem;