.button {
    background-color: $color-primary;
    border: none;
    color: $color-white;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: $default-font-size;
    padding: $default-padding;
    margin-bottom: $default-margin;

    &:focus{
        outline: none;
    }

    &--link {
        display: inline-block;
        text-decoration: none;
    }

    &--action{
        background: transparent;
        margin: 0;
    }

    &--pill {
        background-color: transparent;
        color: $color-primary;
        padding: .5rem .8rem;
        margin: 0;
        text-align: center;
    }

    &--secondary {
        color: $color-grey-dark;
        border: 1px solid $color-grey;
        background: $color-grey-light;
    }

    &--logout {
        border: 1px solid $color-white;
        border-radius: 4px;
    }
}