.checkbox {
    display: inline-block;
    color: $color-white;
    cursor: pointer;

    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: " ";
            display: block;
            position: absolute;
            width: .3rem; // the short bar of the mark is half as long as the long bar
            height: .8rem;
            border: solid $color-white;
            border-width: 0 0.2em 0.2em 0; // creates the inverted "L" shape
            position: absolute;
            left: 9px;
            top: 36%;
            margin-top: -0.2em;
            -webkit-transform: rotate(45deg); // tilts the shape
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &__label{
        position: relative;
    }

    &__label:before{
        content: "";
        margin-right: 10px;
        margin-top: -3px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: transparent;
        border-radius: 3px;
        border: 2px solid $color-white;
    }
}