.header{
    background: $color-primary;
    padding: $large-padding;
    color: $color-white;

    &__content{
        max-width: $site-max-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        & *{
            margin-bottom: 0;
        }
    }
}