.stat-table{
    margin-bottom: $default-margin;
    text-align: left;

    &__item{
        padding: .5rem;
    }

    &__label{
        width: 25%;
        display: inline-block;
        font-weight: bold;
    }

    &__value{

    }
}