.boxed-view {
    background: $color-grey;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--modal{
        background: fade-out($color-grey, .25);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }

    &__container{
        position: relative;
    }

    &__box{
        background: $color-white;
        padding: 2.4rem;
        text-align: center;
        width: 30rem;
        border-radius: 4px;
        box-shadow: 1px 4px 10px rgba($color-black, .2);

        &--large{
            width: 50rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__error-box{
        position: absolute;
        top: -70px;
        background: $color-white;
        width: 30rem;
        margin-bottom: $default-margin;
        padding: $default-padding;
        text-align: center;
        border-radius: 4px;
        box-shadow: 1px 4px 10px rgba($color-black, .2);
        transition: all .4s ease-in;
        color: $color-error;

        &--show{
            opacity: 1;
        }

        &--hide{
            opacity: 0;
        }

        & p{
            margin: 0;
        }
    }
}